/.github/
/.vscode/
/.yarn/
/@types/
/docs/
/public/
/source/
/.editorconfig
/.eslintrc.json
/.gitattributes
/.lintstagedrc.js
/.pnp.cjs
/.pnp.loader.mjs
/.prettierrc.js
/.yarnrc.yml
/mkdocs.yml
/package.json-scripts.json
/renovate.json
/tsconfig.*
