/.github/
/.vscod
/@types/
/coverage/
/docs/
/public/
/source/
/test/
/.editorconfig
/.gitattributes
/.gitignore
/biome.json
/jest.config.js
/lint-staged.config.js
/mkdocs.yml
/package.json-scripts.json
/renovate.json
/tsconfig.*
