/.github/
/.vscode/
/.yarn/
/@types/
/coverage/
/docs/
/public/
/source/
/test/
/.editorconfig
/.eslintrc.json
/.gitattributes
/.lintstagedrc.js
/.pnp.cjs
/.pnp.loader.mjs
/.prettierrc.js
/.yarnrc.yml
/jest.config.js
/mkdocs.yml
/package.json-scripts.json
/renovate.json
/tsconfig.*
